@page
@model EasyPos.Pages.Productos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Costo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Costo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Isv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Isv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.CategoriaProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.CategoriaProducto.CategoriaId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Producto.ProductoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
