@page
@model EasyPos.Pages.Productos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h5>Detalles</h5>

                <h4>Producto</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.Costo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.Costo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.Precio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.Precio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.Isv)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.Isv)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.Estado)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Producto.CategoriaProducto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Producto.CategoriaProducto.CategoriaId)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Producto?.ProductoId">Editar</a> |
                <a asp-page="./Index">Regresar al listado</a>
            </div>

        </div>
    </div>
</div>